 *{
    font-family: 'Poppins';
    margin: 0;
 }

 body{
    display: flex;
    justify-content: center;
    height: 100vh;
 }


 .pricing-table{
    display: flex;
    gap: 1rem;
    align-items: center;
 }

 .pricing-card{
    padding: 2rem;
    border: 2px solid rgb(11, 85, 182);
    border-radius: 1rem;
    max-width: 20rem;
 }

 .pricing-table :hover{
    scale: 1.05;
 }

 .title{
   color: rgb(8, 28, 54);
   text-align: center;
   padding-bottom: 2rem ;
 }

 .description-container{
   display: flex;
   gap: 1rem;
 }
 
 .description{
   line-height: 1.6rem;
 }

 li{
   list-style: none;
 }

 svg{
  height: 1.2rem;
  width: 1.2rem;
  color: rgb(11, 85, 182);
 }

 .price{
    text-align: center;
    margin-top: 1rem;
 }

 .number-price{
      font-size: 2rem;
      font-weight: 700;
 }

 .purchase-button{
    margin-top: 1rem;
    width: 100%;
    border-radius: 0.6rem;
    font-weight: 700;
    background-color: rgb(11, 85, 182);
    color: white;
    border: none;
    padding: 0.5rem;
 }

 .purchase-button:hover{
    border: 2;
    border-color: rgb(11, 51, 104);
    scale: 1.02;
    animation-duration: 200ms;
    box-shadow:0 0 0 2px rgb(12, 69, 143);
 }